Source: nodejs-npm
Section: misc
Priority: extra
Uploaders: Wade Simmons <wade@simplegeo.com>
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
build-Depends: cdbs,
 debhelper (>= 7),
 nodejs (>= 0.4),
 git-core (>= 1:1.7)
Standards-Version: 3.9.1

Package: nodejs-npm
Depends: nodejs (>= 0.4), ${misc:Depends}
Architecture: all
Description: node-npm
 https://github.com/isaacs/npm
